.home {
  margin-top: 100px;
}

.header-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header-content__left {
  flex: 1;
}

.header-content__right {
  flex: 1;
}

.header-content__left h1 {
  color: #212353;
  font-size: 80px;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 88px;
  word-wrap: break-word;
}

.header-content__left p {
  margin: 49px 0;
  color: #4b5d68;
  font-size: 18px;
  font-family: Avenir;
  font-weight: 500;
  line-height: 28.8px;
  word-wrap: break-word;
}

.header-content__left-btn button {
  width: 208.7px;
  height: 59.63px;
  background: #9c69e2;
  box-shadow: 0px 5px 5px rgba(74.99, 92.92, 103.51, 0.1);
  border-radius: 50px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  line-height: 25.6px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.header-content__right img {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}

/* Features */
.features {
  margin-top: 164px;
}

.features-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-content h3 {
  color: #212353;
  font-size: 40px;
  font-family: Helvetica;
  font-weight: 700;
  line-height: 52px;
  word-wrap: break-word;
}

.features-content p {
  color: #4b5d68;
  font-size: 18px;
  font-family: Avenir;
  font-weight: 500;
  line-height: 28.8px;
  word-wrap: break-word;
  margin-top: 50px;
  text-align: center;
}

.features-slice {
  display: grid;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

.features-slice__search {
  position: relative;
  margin-top: 30px;
}

.features-slice__search img {
  width: 100%;
  height: auto;
}

.features-slice__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-2%, -80%);
  z-index: 1;
}

.features-slice__content h4 {
  color: #212353;
  font-size: 24px;
  font-family: Helvetica;
  font-weight: 400;
  line-height: 31.2px;
  word-wrap: break-word;
}

.features-slice__content button {
  color: #212353;
  margin-top: 20px;
  display: flex;
  font-size: 16px;
  font-family: Avenir;
  font-weight: 800;
  line-height: 25.6px;
  letter-spacing: 0.08px;
  word-wrap: break-word;
}

.features-slice__content p {
  color: #4b5d68;
  margin-top: 20px;
  font-size: 16px;
  font-family: Avenir;
  font-weight: 400;
  line-height: 25.6px;
  word-wrap: break-word;
}

.testimonials {
  margin-top: 140px;
  width: 100%;
  height: 710.27px;
  border-radius: 50px;
  background-color: #9c69e2;
}

.testimonials h4 {
  padding: 110px;
  color: #fff;
  font-family: Helvetica;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  margin-left: 55px;
}

.testimonials-content {
  width: 931.664px;
  height: 330.59px;
  margin-left: 170px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 20px 0px 0px rgba(144, 7, 236, 0.3);
}

.testimonials-avt {
  padding: 60px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.avt-text {
  margin-top: 18px;
}

.avt-text h5 {
  color: var(--2, #212353);
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 160%;
  letter-spacing: 0.09px;
}

.avt-text span {
  color: var(--3, #9C69E2);
  font-family: Avenir;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.14px;
}

.avt-text p {
  color: var(--1, #4B5D68);
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.back-next {
  display: flex;
  justify-content: space-between;
}

.back-next button {
  font-size: 60px;
  color: #fff;
}

/* Footer */
.footer-logo {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-header:nth-child(2) {
  margin-left: 70px;
}

.footer-header__top {
  margin-top: 100px;
  display: flex;
}

.footer-header__top img {
  margin-right: 20px;
}

.footer-header__top h4 {
  color: #212353;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%;
}

.footer-header__content h5 {
  margin-top: 67px;
  color: #212353;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  letter-spacing: 0.16px;
}

.footer-header__content p {
  margin-top: 10px;
  color: #212353;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.16px;
}

.footer-header__content-about {
  margin-top: 50px;
  color: #212353;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  letter-spacing: 0.16px;
}

.footer-header__bt {
  display: flex;
  margin-top: 115px;
  justify-content: space-between;
}

.footer-header__bt p {
  color: #212353;
  font-family: Avenir;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  /* 21.6px */
  letter-spacing: 0.12px;
}




@media (max-width: 1023px) {
  .header-content {
    display: flex;
    flex-direction: column;
  }

  .header-content__left h1 {
    color: #212353;
    font-size: 60px;
    font-family: Helvetica;
    font-weight: 700;
    line-height: 88px;
    word-wrap: break-word;
  }

  .features-slice {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .features-slice__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-2%, -80%);
    z-index: 1;
  }

  .testimonials-content {
    width: 527.664px;
    height: 287.59px;
    margin-left: 83px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 0px 0px rgba(156, 105, 226, 0.3);
  }

  .testimonials {
    margin-top: 140px;
    width: 100%;
    height: 500px;
    border-radius: 50px;
    background-color: #9c69e2;
  }

  .testimonials h4 {
    padding: 28px;
    color: #fff;
    font-family: Helvetica;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-left: 55px;
  }

  .header-btn button {
    width: 86px;
    height: 40px;
    background: #9C69E2;
    box-shadow: 0px 5px 5px rgba(74.99, 92.92, 103.51, 0.10);
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    margin-left: 30px;
    font-size: 16px;
    line-height: 25.60px;
    letter-spacing: 0.08px;
    word-wrap: break-word;
  }

  .testimonials-avt {
    padding: 30px;
  }

}

@media (max-width: 767px) {
  .features-slice {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
  }

  .features-slice__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-2%, -70%);
    z-index: 1;
  }

  .header-content__left-btn button {
    width: 125.7px;
    height: 40.63px;
    background: #9c69e2;
    box-shadow: 0px 5px 5px rgba(74.99, 92.92, 103.51, 0.1);
    border-radius: 50px;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    line-height: 25.6px;
    letter-spacing: 0.08px;
    word-wrap: break-word;
  }

  .testimonials-content {
    width: 245.664px;
    height: 438.59px;
    margin-left: 83px;
    flex-shrink: 0;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0px 20px 0px 0px rgba(156, 105, 226, 0.3);
  }

  .testimonials {
    margin-top: 140px;
    width: 100%;
    height: 607px;
    border-radius: 50px;
    background-color: #9c69e2;
  }

  .footer-logo {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}